div {
  height: 100px;
  width: 100px;
  background-color: brown;
  margin: 0 auto;
  margin-top: 10px;
  transition: margin-top 1s ease-in;
}

div:hover{
  background-color: blueviolet;
  margin-top: 400px;
}